<h3>Moje Przejazdy</h3>
<h4>User registration forms</h4>

<div *ngIf="loading" class="progress-spinner">
  <mat-progress-spinner [mode]="'indeterminate'"> </mat-progress-spinner>
</div>

<form *ngIf="!loading" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="container-fluid">
    <div class="row">
      <app-input-text [formGroup]="userForm" [name]="'name'"> </app-input-text>
      <app-input-text [formGroup]="userForm" [name]="'surname'">
      </app-input-text>
      <app-input-text [formGroup]="userForm" [name]="'email'"> </app-input-text>
      <app-input-text [formGroup]="userForm" [name]="'phone'"> </app-input-text>
      <app-input-text [formGroup]="userForm" [name]="'login'"> </app-input-text>
      <app-input-text [formGroup]="userForm" [name]="'password'">
      </app-input-text>
      <app-address [formGroup]="getAddressFormgroup()"></app-address>
      <div class="form-group">
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>
