<h3>Moje Przejazdy</h3>
<h4>User registration forms</h4>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="container-fluid">
    <div class="row">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>First name</mat-label>
        <input
          matInput
          type="text"
          [formControl]="getFormControl('first_name')"
        />
        <button
          *ngIf="hasValue('first_name')"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearFormControlValue('first_name')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Second name</mat-label>
        <input
          matInput
          type="text"
          [formControl]="getFormControl('second_name')"
        />
        <button
          *ngIf="hasValue('second_name')"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearFormControlValue('second_name')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Address</mat-label>
        <input
          matInput
          type="text"
          [formControl]="getFormControl('home_address')"
        />
        <button
          *ngIf="hasValue('home_address')"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearFormControlValue('home_address')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Email address</mat-label>
        <input
          matInput
          type="text"
          [formControl]="getFormControl('email_address')"
        />
        <button
          *ngIf="hasValue('email_address')"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearFormControlValue('email_address')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Phone no.</mat-label>
        <input matInput type="text" [formControl]="getFormControl('phone')" />
        <button
          *ngIf="hasValue('phone')"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearFormControlValue('phone')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="text"
          [formControl]="getFormControl('password')"
        />
        <button
          *ngIf="hasValue('password')"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearFormControlValue('password')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <div class="form-group" style="width: 100%">
        <label for="role">Role</label>

        <input list="roles" name="role" id="role" />
        <datalist id="roles">
          <option value="driver/passenger"></option>
          <option value="passenger"></option>
        </datalist>
      </div>
      <div class="form-group">
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>
